{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="login-form">
            <form method="post" class="">

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                {% if error %}
                    <div class="alert alert-danger">{{  error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="field">
                    <label for="inputEmail" class="label">Email</label>
                    <div class="control">
                        <input type="email" name="email" id="inputEmail" class="input" value="{{ last_username }}" required autofocus>
                    </div>
                </div>

                <div class="field">
                    <label for="inputPassword" class="label">Password</label>
                    <div class="control">
                        <input type="password" name="password" id="inputPassword" class="input" required>
                    </div>
                </div>

                <div class="field">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="control">
                        <button class="button is-success" type="submit">
                            Sign in
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
